/* ------------------------------ */
/* -----------HEADER------------- */
/* ------------------------------ */

* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	font-size: 1.25vw;
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	// @include gradient-bg;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	max-width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (min-width: 768px) {
		height: auto;
		min-height: 100vh;
	}

	min-height: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	font-family: Roboto, Arial, sans-serif;
	@media (max-width: 767px) {
		&.lock {
			overflow: hidden;
		}
	}
}

body {
	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		// background-color: rgba(1, 27, 83, 1.0);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgba(118, 176, 255, 1.0);
		box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
}

.wrapper {
	// max-width: #{$maxWidth + px};
	// min-height: 100%;
	// margin: 0 auto;
}

.ntsomz-btn {
	margin: 0;
	color: #ddd;
	a {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10% 5%;
		padding: 30px 70px;
		@include gradient-bg;

		color: #ddd;
		text-decoration: none;
		font-size: 14px;
		letter-spacing: 0.3px;

		@media (max-width: 767px) {
			width: 100%;
			padding: 18px 90px;
			flex: 0 1 auto;
		}
	}
}

.container {
	max-width: 85%;
	margin: 0 auto;
}

.breadcrumb {
	list-style: none;
	width: 85%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0;

	@media (max-width: 767px) {
		max-width: 100%;
		padding: 0 15px;
	}
	/* .breadcrumb__wrapper */
	&__wrapper {
		position: relative;
		max-width: 100%;
		margin: 0 auto;
		background-color: #f5f6f7;
		display: flex;
		padding: 15px;
	}
	li {
		display: inline-block;
		a {
			color: #aaa;
			text-decoration: none;
		}
		&:not(:last-child)::after {
			content: '/';
			color: #ccc;
			margin: 0 5px;
		}
		&.current-bread {
			a {
				color: rgba(118, 176, 255, 1.0);
			}
		}
		&:hover {
			a {
				color: rgba(118, 176, 255, 1.0);
				text-decoration: underline;
			}
		}
	}
}

.header, .header-home {
	font-family: 'Roboto';
	font-size: 14px;
	width: 100%;
	max-width: 100%;
	height: 100vh;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;

	@media (min-width: 1921px) {
		align-content: center;
	}

	@media (max-width: 767px) {
		height: unset;
		background-color: #000000;
	}

	/* .header__top */
	&__top {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		max-width: #{$maxWidth + px};
		margin: 0 auto;
		margin-bottom: auto;
		min-height: 10vh;
		height: 10vh;
		z-index: 10;
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 767px) {
			min-height: unset;
			height: 50px;
			flex-wrap: nowrap;
			flex: 1 1 auto;
		}
		@media (min-width: 1921px) {
			max-width: unset;
		}
	}
}

.header {
	min-height: unset;
	height: auto;
	margin: 0 auto;
	background-image: url("../img/jpg/bg-hero.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,3,72,0.35);
	}


	@media (max-width: 767px) {
		height: 180px;
	}
	/* .header__top */
	&__top {
		position: fixed;
		width: 100%;
		margin: 0 auto;
		height: 10vh;
		z-index: 10;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		&.top-header {
			background-color: rgba(255, 255, 255, 1.0);
		}
		box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
		@media (max-width: 767px) {
			min-height: unset;
			height: 50px;
			flex-wrap: nowrap;
			flex: 1 1 auto;
		}
	}
	/* .title-page-wrapper */
	.title-page-wrapper {
		width: 100%;
		max-width: #{$maxWidthContainer + px};
		padding: 10vh 15px 0 15px;
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: auto;
		height: auto;

			@media (max-width: 767px) {
				padding-top: 30px;
				height: inherit;
			}
		}
	/* .title-page */
	.title-page {
		font-size: 44px;
		line-height: 55px;
		color: #fff;
		padding: 71px 0;
		text-align: left;

		@media (max-width: 767px) {
			font-size: 18px;
			line-height: 29px;
		}
	}
}

.top-header {
	/* .top-header__body */
	&__body {
			width: 85%;
			margin: 0 auto;
			padding: 0 7.5%;
			height: inherit;
			display: flex;
			align-items: center;
			flex: 1 1 100%;
			z-index: 13;
			position: relative;

			@media (max-width: 767px) {
				flex: 0 1 auto;
				flex-wrap: nowrap;
				min-height: unset;
				// height: 50px;
				margin: 0;
				justify-content: space-between;
				align-items: stretch;
			}
	}
	/* .top-header__logo */
	&__logo {
			flex: 0 0 18.2%;
			width: 18.2%;
			flex: 0 0 20vw;
			width: 20vw;
			margin: 0;
			display: flex;
			// justify-content: center;
			align-items: center;
			z-index: 12;
			@media (max-width: 767px) {
				flex: 0 1 60px;
				margin: 0 15px;
				padding: 5px;
			}

			a {
				width: 100%;
				height: inherit;
				display: flex;
				align-items: center;
				margin: 15px;
				@media (max-width: 767px) {
					margin: 0;
				}
			}
			img {
				width: 100%;
				height: auto;
			}
	}
	/* .top-header__maintitle-wrapper */
	&__maintitle-wrapper {
			flex: 0 0 auto;
			max-width: 85%;
			min-height: 0;
			height: 100%;
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			padding: 0 15px;
			color: #fff;
			position: relative;
			margin-right: auto;

			@media (max-width: 767px) {
				display: flex;
				max-width: 100%;
			}
	}
	/* .top-header__maintitle, .top-header__title */
	&__maintitle,
	&__title {
			flex: 1 1 100%;
			@include adaptiv-value('font-size', 2, 0.6, 0);
			font-weight: 700;
			line-height: 140%;
			margin: 0;
			text-align: left;
			display: inline-block;

			@media (max-width: 767px) {
			}
			a {
				@include adaptiv-value('font-size', 2, 0.6, 0);
				text-decoration: none;
				color: #fff;

				@media (max-width: 767px) {
				}
			}
	}
	/* .top-header__desc */
	&__desc {
			@include adaptiv-value('font-size', 2, 0.6, 0);
			line-height: 140%;
			font-weight: 700;
			display: inline-block;
			margin: 0;
			text-align: left;

			@media (max-width: 767px) {
				font-size: 0px;
			}
	}
	/* .top-header__navigation */
	&__navigation {
			position: relative;
			top: 0;
			right: 0;
			width: 100%;
			height: inherit;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			justify-content: flex-end;
			align-items: center;
			align-content: center;
			z-index: 11;
			flex: 1 1 auto;

			&::before {
				content: '';
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
			}

			@media (max-width: 767px) {
				position: absolute;
				margin: 0;
				flex: 0 1 auto;
				justify-content: flex-end;
				min-height: 0;
			}
	}
	/* .top-header__menu */
	&__menu {
			background-color: #c4c4c4;
			// position: fixed;
			position: absolute;
			top: -100%;
			left: 0;
			right: 0;
			width: 100%;
			// height: 10vh;
			transition: all 0.3s ease;
			opacity: 0;
			display: flex;
			align-items: center;
			align-content: center;
			&::before {
				content: '';
				display: block;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 10vh;
				background-color: $blue2;
				z-index: 999;
			}
			&.active {
				// z-index: 11;
				top: 10vh;
				opacity: 1;
				position: fixed;
				z-index: 12;
			}
			@media (max-width: 767px) {
				height: 100%;
				background-color: #fff;
				justify-content: center;
				margin-top: -250%;
				overflow-y: auto;
				display: flex;
				align-items: center;
				&.active {
					z-index: auto;
					margin-top: 0;
					padding-top: 90px;
				}
			}
	}
	/* .top-header__list */
	&__list {
			position: relative;
			display: flex;
			width: 100vw;
			height: 100%;
			// margin-left: auto;
			// margin-right: 12%;
			margin: auto;
			// padding: 1vh 0;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			align-content: center;
			z-index: 12;
			@media (max-width: 767px) {
				justify-content: flex-start;
				align-items: center;
				align-content: center;
				height: inherit;
				list-style-type: none;
				padding: 0;
				margin: 0;
				height: auto;
				padding: 0;
				height: auto;
			}
	}
	/* .top-header__link */
	&__link {
			margin: 0 5px;
			display: flex;
			height: auto;
			justify-content: center;
			align-items: center;
			align-content: center;
			flex: 0 0 auto;
			@media (max-width: 767px) {
				flex: 1 1 100%;
			}

			@media (min-width: 768px) and (max-width: 1180px) {
			}

			@media (max-width: 767px) {
				height: auto;
				margin: 0;
				flex: 1 1 100%;
			}
			a {
				text-decoration: none;
				font-size: 0.75rem;
				// color: #fff;
				color: rgba(30, 24, 70, 1.0);
				padding: 20px 15px;
				margin: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1 1 100%;

				@media (max-width: 767px) {
					font-size: 14px;
					padding: 10px 0;
					color: #111;
				}

				&:hover {
					color: #fff;
					@include gradient-bg;
				}
			}
	}
	/* .top-header__burger-wrapper */
	&__burger-wrapper {
			// position: relative;
			width: 2vw;
			height: 5vh;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 15px;
			flex: 0 0 9%;
			z-index: 12;
			cursor: pointer;

			@media (min-width: 993px) {
				&.active {
					// transform: translateX(-8px);
				}
			}
	}
	/* .top-header__burger */
	&__burger {
		display: block;
		position: relative;
		top: 0;
		right: 15px;
		width: 100%;
		height: 5vh;
		// cursor: pointer;
		display: flex;
		justify-content: center;
		z-index: 111;
		&::before,
		&::after {
			content: '';
			position: absolute;
		}
		span,
		&::before,
		&::after {
			display: block;
			width: 100%;
			min-width: 30px;
			margin: 0 auto;
			height: 1px;
			background-color: #ddd;
			transition: all 0.3s ease;
			&:active {
			}
		}
		span {
			position: absolute;
			top: 50%;
			align-self: center;
		}
		&::before {
			top: 25%;
		}
		&::after {
			bottom: 25%;
		}
		&:active {
			span {
			}
		}
		&:active::before,
		&:active::after {
		}
		// &.active { position: absolute; }
		&.active span { transform: scale(0); }
		&.active::before { transform: rotate(45deg); top: 50%; }
		&.active::after { transform: rotate(-45deg); top: 50%; }
	}
}
.header .top-header {
	/* .top-header__title-wrapper */
	&__maintitle-wrapper {
		color: #111;
		color: rgba(30, 24, 70, 1.0);
	}
	/* .top-header__burger */
	&__burger {
		span,
		&::before,
		&::after {
			background-color: rgba(30, 24, 70, 1.0);
		}
		&.active span,
		&.active::before,
		&.active::after {

		}
	}
}
.header-home {
	/* .header-home__bg */
		&__bg {
			position: absolute;
			width: 100%;
			height: 100vh;
			min-height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			z-index: 1;

			@media (max-width: 767px) {
				height: unset;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-image: linear-gradient(180deg, rgba(30,24,70,0.85), rgba(0,166,228,0.35) 35%);
				@media (max-width: 1080px) {
					// background-image: linear-gradient(-15deg, #000000 15%, transparent 35% );
				}
			}
		}
	/* .header-home__maintitle */
	&__maintitle {
		display: none;
	}
	.main-content {
		flex: 1 1 100%;
		max-width: 1920px;
		width: 100%;
		position: absolute;
		height: 100vh;
		z-index: 5;
		display: flex;
		justify-content: center;
		align-items: center;
		
		@media (min-width: 1921px) {
			max-width: unset;
		}
		/* .main-content__section */
		&__section {
			flex: 0 0 45%;
			display: flex;
			flex-wrap: wrap;
			height: inherit;
			min-width: 0;

			@media (max-width: 767px) {
				flex: 1 1 100%;
			}
			/* .main-content__section_one */
			&_one {
				flex: 1 1 54%;
				width: 54%;

				@media (max-width: 767px) {
					flex: 1 1 100%;
					margin-bottom: 30px;
				}

				.top-posts__item {
					&:nth-of-type(1) {
						flex: 1 1 100%;
						// height: 50vh;
						// height: 60%;
						height: inherit;

						@media (min-width: 1921px) {
						}
					}
					&:nth-of-type(2),
					&:nth-of-type(3) {
						height: 25vh;
						height: 25%;

						@media (min-width: 1921px) {
						}
					}
				}
			}
			/* .main-content__section_two */
			&_two {
				flex: 1 1 34%;

				@media (max-width: 767px) {
					flex: 1 1 100%;
				}

				.top-posts__item {
					&:nth-of-type(1),
					&:nth-of-type(2) {
						flex: 1 1 45%;
						height: 25vh;
						height: 25%;

						@media (min-width: 1921px) {
						}
					}
					&:nth-of-type(3),
					&:nth-of-type(4) {
						flex: 1 1 45%;
						height: 50vh;
						height: 60%;

						@media (min-width: 1921px) {
						}
					}
				}
			}
		}
		/* .main-content__title */
		&__title {
			flex: 1 1 100%;
			margin: 0 5px 10px;
			padding-bottom: 10px;
			color: #fff;
			@include adaptiv-value('font-size', 14, 0.75, 0);
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: 10px;
			border-bottom: 1px solid #fff;
		}
	}
	.top-posts {
		width: 100%;
		max-width: 85%;
		margin: auto;
		margin-top: 20vh;
		height: 65vh;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		/* .top-posts__swiper */
		&__swiper {
			width: 100%;
			height: 60%;
			padding: 0;
		}
		/* .top-posts__wrapper */
		&__wrapper {
			margin: 0;
			padding: 0;
		}
		/* .top-posts__slide */
		&__slide {
			height: 100%;
			width: inherit;
			position: relative;
			padding-top: 0;
			padding-bottom: 0;
		}

		@media (max-width: 767px) {
		}
		
		/* .top-posts__item */
		&__item {
			flex: 1 1 auto;
			overflow: hidden;
			margin: 5px;
			border-bottom: 1px solid $blue2;
		}
	}
	.top-post {
		position: relative;
		min-width: 0;
		/* .top-post__link */
		&__link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			display: block;
			z-index: 1;
			background-image: linear-gradient(180deg, transparent, transparent);
			transition: all 0.3s ease;
			&:hover {
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0), rgba(0, 166, 228, 0.8));
				border-bottom: 5px solid $blue2;
			}
		}
		/* .top-post__img */
		&__img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			display: block;
			overflow: hidden;
			background-color: rgba(0, 0, 0, 0.5);
			background-image: linear-gradient(180deg, rgba(0, 12, 30, 0) 30%, rgba(0, 12, 30, 0.8));

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.8);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
				opacity: 0.7;
			}
		}
		/* .top-post__content */
		&__content {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: auto;
			display: block;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 2%;

			color: #fff;
		}
		/* .top-post__title */
		&__title {
			font-weight: 700;
			line-height: 120%;
			margin-top: 0.5em;
			@include adaptiv-value('font-size', 4, 0.8, 0);
			position: relative;
			z-index: 5;
			display: flex;
		}
		/* .top-post__desc */
		&__desc {
			line-height: 140%;
			margin-top: 0.4em;
			@include adaptiv-value('font-size', 2, 0.6, 0);
			position: relative;
			z-index: 5;
			display: none;
		}
		/* .top-post__date */
		&__date {
			line-height: 140%;
			margin-top: 0.5em;
			@include adaptiv-value('font-size', 1.8, 0.55, 0);
			margin-left: 10px;
			order: -1;
		}
		/* .top-post__info */
		&__info {
			position: relative;
			z-index: 5;
			order: -1;
			display: inline;
		}
		/* .top-post__tag */
		&__tag {
			line-height: 140%;
			margin-top: 0.5em;
			@include adaptiv-value('font-size', 1.8, 0.55, 0);
			z-index: 5;
			pointer-events: auto;
			display: inline-block;
			background: #ff2e2d;
			padding: 3px 5px;
			font-size: 70%;
			font-weight: 500;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}

#pixie {
	max-width: 100%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #164979;
	background: linear-gradient(180deg, #040429, #257EB7) repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin: 0 auto;
	padding: 0;
	background-size: 100% 100%;
	z-index: -1;
}

#header-particles {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 1;
}

#footer-particles {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.bgvideo {
	// position: fixed;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	z-index: -1;
	object-fit: cover;
	object-position: center;

	// filter: contrast(150%);

	@media (max-width: 767px) {
		// display: none;
	}
}